/* Top-Section Styling */
body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 245, 233);
    margin: 0;
}
h1{
    font-size: 30px;
    font-weight: 700;
}
p{
    font-size: 15px;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
/*---------- Class- Section
------------------------- */

/*-----------------------------------
      Heading Banner Styling
--------------------------------------*/
.headline{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 35, 35);
    border-radius: 20px;
    width: 992px;
    
}

.heading{
    margin-left: 50px;
}
.read{
    background-color: rgb(207, 97, 90);
    border: none;
    color: white;
    padding: 12px 14px;
    font-size: 14px;
}
/*-----------------------------------
               Sidebar
--------------------------------------*/

.sidebar {
    border-radius: 5px;
    margin-right: 20px;
    padding: 18px 16px;
    width: 222px;
    height: 158px;
    background-color:rgb(100, 35, 35);
  }

  /* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
  }
 /* Bar-Styles */
.bar{
    background-color: wheat;
    border-radius: 10px;
    text-align: center;
    padding: 10px 40px;
    margin-bottom: 20px;
}
.bar-3{
    background-color: rgb(105, 52, 52);
    border-radius: 10px;
    text-align: center;
    padding: 10px 40px;
    margin-bottom: 20px;
}
/*-----------------------------------
        Second Part Styling
--------------------------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
} 

.writing {
    border: 1px solid rgb(12, 11, 11);
    border-radius: 10px;
}
.blogs .banner img{
    width: 224px;
    height: 124px;
    border-radius: 3%;
}

.btn{
    background-color: white;
    border: 5px solid;
    border-radius: 10px;
    color: black;
    padding: 6px 20px;
    margin-left: 5%;
    font-size: 14px;
}
.info{
    margin-left: 5%;
}
.time{
    display: flex;
    font-size: x-small;
    margin: 5%;

}
.time .fa-regular{
    margin-right: 20%;
}


/*----------------------------
        Footer- Styles
------------------------------*/
footer{
    background-color: rgb(100, 35, 35);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 120px;
}

.footer1{
    font-size: 28px;
}
hr{
    width: 80%;
    border: 1px solid gray;
}
.settings{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}

/*--------------------------------
        Media Queris
----------------------------------*/

/* Mobile Devices */
@media screen and (max-width:688px) {
    main{
        width: 100%;
    }
    .headline {
        background-color: rgb(100, 35, 35);
        display: flex;
        flex-direction:column;
        margin-left: 3%;
        margin-bottom: 0;
    }
    .heading{
        text-align: center;
        text-overflow: ellipsis;
        margin-left: 5%;
        margin-right: 5%;
    }
    .read{
        background-color: rgb(207, 97, 90);
        border-radius: 10px;
        color: white;
        padding: 15px 20px;
        font-size: 30px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }
    .container{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs .banner img{
        width: 384px;
        height: 224px;
        border-radius: 3%;
    }
    .btn{
        background-color: white;
        border: 5px solid;
        border-radius: 10px;
        color: black;
        padding: 6px 25px;
        margin-left: 5%;
        font-size: 25px;
    }
    .info{
        margin-left: 5%;
        font-size: 25px;
    }
    .time{
        display: flex;
        font-size: 20px;
        margin: 5%;
    
    }
    .settings{
        display: grid;
        justify-content: center;
    }
    .sidebar{
        background-color: black;
        width: 100%;
        display: grid;
        justify-content: center;
        padding: 0%;
        margin-bottom: 7%;
    }
    .bar{
        background-color: wheat;
        border-radius: 10px;
        text-align: center;
        padding: 10px 40px;
        margin-bottom: 20px;
    }
    .bar-3{
        background-color: rgb(105, 52, 52);
        border-radius: 10px;
        text-align: center;
        padding: 10px 40px;
        
    }

}